WebTest/WebApplication1/Backup/Mysoft.Map.Core/Service References/SyncCacheService/SyncCacheService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/Map/SyncCacheService" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/Map/SyncCacheService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/Map/SyncCacheService">
      <s:element name="ClearAllSysTempFile">
        <s:complexType />
      </s:element>
      <s:element name="ClearAllSysTempFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearAllSysTempFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearAllFuncTempFileByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearAllFuncTempFileByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearAllFuncTempFileByCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearAllFuncTempFile">
        <s:complexType />
      </s:element>
      <s:element name="ClearAllFuncTempFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearAllFuncTempFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearAllDeskTempFiles">
        <s:complexType />
      </s:element>
      <s:element name="ClearAllDeskTempFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearAllDeskTempFilesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTempFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTempFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearTempFilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDeskTempFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearDeskTempFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearDeskTempFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTempFilesByPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTempFilesByPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearTempFilesByPatternResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Clear">
        <s:complexType />
      </s:element>
      <s:element name="ClearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveByPattern">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pattern" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveByPatternResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveByPatternResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckConfig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckConfigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckConfigResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClearAllSysTempFileSoapIn">
    <wsdl:part name="parameters" element="tns:ClearAllSysTempFile" />
  </wsdl:message>
  <wsdl:message name="ClearAllSysTempFileSoapOut">
    <wsdl:part name="parameters" element="tns:ClearAllSysTempFileResponse" />
  </wsdl:message>
  <wsdl:message name="ClearAllFuncTempFileByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:ClearAllFuncTempFileByCode" />
  </wsdl:message>
  <wsdl:message name="ClearAllFuncTempFileByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:ClearAllFuncTempFileByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ClearAllFuncTempFileSoapIn">
    <wsdl:part name="parameters" element="tns:ClearAllFuncTempFile" />
  </wsdl:message>
  <wsdl:message name="ClearAllFuncTempFileSoapOut">
    <wsdl:part name="parameters" element="tns:ClearAllFuncTempFileResponse" />
  </wsdl:message>
  <wsdl:message name="ClearAllDeskTempFilesSoapIn">
    <wsdl:part name="parameters" element="tns:ClearAllDeskTempFiles" />
  </wsdl:message>
  <wsdl:message name="ClearAllDeskTempFilesSoapOut">
    <wsdl:part name="parameters" element="tns:ClearAllDeskTempFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ClearTempFilesSoapIn">
    <wsdl:part name="parameters" element="tns:ClearTempFiles" />
  </wsdl:message>
  <wsdl:message name="ClearTempFilesSoapOut">
    <wsdl:part name="parameters" element="tns:ClearTempFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ClearDeskTempFileSoapIn">
    <wsdl:part name="parameters" element="tns:ClearDeskTempFile" />
  </wsdl:message>
  <wsdl:message name="ClearDeskTempFileSoapOut">
    <wsdl:part name="parameters" element="tns:ClearDeskTempFileResponse" />
  </wsdl:message>
  <wsdl:message name="ClearTempFilesByPatternSoapIn">
    <wsdl:part name="parameters" element="tns:ClearTempFilesByPattern" />
  </wsdl:message>
  <wsdl:message name="ClearTempFilesByPatternSoapOut">
    <wsdl:part name="parameters" element="tns:ClearTempFilesByPatternResponse" />
  </wsdl:message>
  <wsdl:message name="ClearSoapIn">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="ClearSoapOut">
    <wsdl:part name="parameters" element="tns:ClearResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapIn">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveByPatternSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveByPattern" />
  </wsdl:message>
  <wsdl:message name="RemoveByPatternSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveByPatternResponse" />
  </wsdl:message>
  <wsdl:message name="CheckConfigSoapIn">
    <wsdl:part name="parameters" element="tns:CheckConfig" />
  </wsdl:message>
  <wsdl:message name="CheckConfigSoapOut">
    <wsdl:part name="parameters" element="tns:CheckConfigResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncCacheServiceSoap">
    <wsdl:operation name="ClearAllSysTempFile">
      <wsdl:input message="tns:ClearAllSysTempFileSoapIn" />
      <wsdl:output message="tns:ClearAllSysTempFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearAllFuncTempFileByCode">
      <wsdl:input message="tns:ClearAllFuncTempFileByCodeSoapIn" />
      <wsdl:output message="tns:ClearAllFuncTempFileByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearAllFuncTempFile">
      <wsdl:input message="tns:ClearAllFuncTempFileSoapIn" />
      <wsdl:output message="tns:ClearAllFuncTempFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearAllDeskTempFiles">
      <wsdl:input message="tns:ClearAllDeskTempFilesSoapIn" />
      <wsdl:output message="tns:ClearAllDeskTempFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearTempFiles">
      <wsdl:input message="tns:ClearTempFilesSoapIn" />
      <wsdl:output message="tns:ClearTempFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearDeskTempFile">
      <wsdl:input message="tns:ClearDeskTempFileSoapIn" />
      <wsdl:output message="tns:ClearDeskTempFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearTempFilesByPattern">
      <wsdl:input message="tns:ClearTempFilesByPatternSoapIn" />
      <wsdl:output message="tns:ClearTempFilesByPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <wsdl:input message="tns:ClearSoapIn" />
      <wsdl:output message="tns:ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input message="tns:RemoveSoapIn" />
      <wsdl:output message="tns:RemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveByPattern">
      <wsdl:input message="tns:RemoveByPatternSoapIn" />
      <wsdl:output message="tns:RemoveByPatternSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckConfig">
      <wsdl:input message="tns:CheckConfigSoapIn" />
      <wsdl:output message="tns:CheckConfigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncCacheServiceSoap" type="tns:SyncCacheServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearAllSysTempFile">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllSysTempFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllFuncTempFileByCode">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllFuncTempFileByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllFuncTempFile">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllFuncTempFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllDeskTempFiles">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllDeskTempFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTempFiles">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearTempFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearDeskTempFile">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearDeskTempFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTempFilesByPattern">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearTempFilesByPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveByPattern">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/RemoveByPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConfig">
      <soap:operation soapAction="http://tempuri.org/Map/SyncCacheService/CheckConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncCacheServiceSoap12" type="tns:SyncCacheServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="ClearAllSysTempFile">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllSysTempFile" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllFuncTempFileByCode">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllFuncTempFileByCode" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllFuncTempFile">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllFuncTempFile" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearAllDeskTempFiles">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearAllDeskTempFiles" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTempFiles">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearTempFiles" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearDeskTempFile">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearDeskTempFile" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTempFilesByPattern">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/ClearTempFilesByPattern" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clear">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/Clear" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/Remove" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveByPattern">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/RemoveByPattern" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckConfig">
      <soap12:operation soapAction="http://tempuri.org/Map/SyncCacheService/CheckConfig" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncCacheService">
    <wsdl:port name="SyncCacheServiceSoap" binding="tns:SyncCacheServiceSoap">
      <soap:address location="http://localhost:8001/WebService/SyncCacheService.asmx" />
    </wsdl:port>
    <wsdl:port name="SyncCacheServiceSoap12" binding="tns:SyncCacheServiceSoap12">
      <soap12:address location="http://localhost:8001/WebService/SyncCacheService.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>